## Import the libraries

In [1]:
import numpy as np
import pandas as pd

## Load the dataset

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
# Code to get information about the dataset
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
# Rename the columns to make it more readable
column_names = { 'date': 'date',
                'Appliances': 'Appliances',
                'lights': 'lights',
                'T1': 'Temperature_in_kitchen' , 
                'RH_1': 'Humidity_in_kitchen',
                'T2': 'Temperature_in_living_room' , 
                'RH_2': 'Humidity_in_living_room',
                'T3': 'Temperature_in_laundry_room' , 
                'RH_3': 'Humidity_in_laundry_room',
                'T4': 'Temperature_in_office_room' , 
                'RH_4': 'Humidity_in_office_room',
                'T5': 'Temperature_in_bathroom' , 
                'RH_5': 'Humidity_in_bathroom',
                'T6': 'Temperature_outside_the_building' , 
                'RH_6': 'Humidity_outside_the_building',
                'T7': 'Temperature_in_ironing_room' , 
                'RH_7': 'Humidity_in_ironing_room',
                'T8': 'Temperature_in_teenager_room_2' , 
                'RH_8': 'Humidity_in_teenager_room_2',
                'T9': 'Temperature_in_parents_room' , 
                'RH_9': 'Humidity_in_parents_room',
                'T_out': 'Temperature_outside',
                'Press_mm_hg': 'Pressure',
                'RH_out': 'Humidity_outside',
                'Windspeed': 'Windspeed',
                'Visibility': 'Visibility',
                'Tdewpoint': 'T_dew_point',
                'rv1': 'Random_variable_1',
                'rv2': 'Random_variable_2'
                }

In [5]:
df = df.rename(columns = column_names)
df

,date,Appliances,lights,Temperature_in_kitchen,Humidity_in_kitchen,Temperature_in_living_room,Humidity_in_living_room,Temperature_in_laundry_room,Humidity_in_laundry_room,Temperature_in_office_room,...,Temperature_in_parents_room,Humidity_in_parents_room,Temperature_outside,Pressure,Humidity_outside,Windspeed,Visibility,T_dew_point,Random_variable_1,Random_variable_2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [6]:
# Question 12: Fittng a linear model on the relationship between the Temperature_in_the_living_room and the Temperature_outside_the_building
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()


x = np.array(df['Temperature_in_living_room'])
y = np.array(df['Temperature_outside_the_building'])

x = x.reshape(-1, 1)

#import the train_test_split method

from sklearn.model_selection import train_test_split
x_tr, x_tst, y_tr, y_tst = train_test_split(x, y, test_size=0.3, random_state=2)

#fit the model to the training dataset
lin_reg.fit(x_tr, y_tr)

#obtain predictions
pred_values = lin_reg.predict(x_tst)


# R-Squared (R^2)
from sklearn.metrics import r2_score
r2_score = r2_score(y_tst, pred_values)
round(r2_score, 2)

0.65

In [7]:
# Question 13: Normalising with the MinMaxScaler the dataset after dropping ['date', 'light'] columns

#import the MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

new_df = df.drop(columns=['date', 'lights'])

scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(new_df), columns=new_df.columns)

# declaring the features (the independent variables)
features_df = normalised_df.drop(columns=['Appliances'])

# the target (the dependent variable)
appliances_target = normalised_df['Appliances']

# Now we split our dataset (70:30 train-test)
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features_df, appliances_target, test_size=0.3, random_state=42)

# Creating our model object
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)

#obtain predictions
predicted_values = linear_model.predict(x_test)

In [8]:
# Question 13: Mean Absolute Error (MAE) in two decimal places

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

#From the result, the Mean Absolute Error is 0.05

0.05

In [9]:
# Question 14: Residual Sum of Squares (RSS) in two decimal places

rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

# From the result, the RSS is 45.35

45.35

In [10]:
# Question 15: Root Mean Squared Error (RMSE) in three decimal places

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

# From the result, the RMSE is 0.088

0.088

In [11]:
# Question 16: Coefficient of Determiation (R^2) in two decimal places
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

# From the result, the Coefficient of determination is 0.15

0.15

In [12]:
# Question 17: Obtain the the feature weights from the linear model

def get_weights_df(model, feat, col_name):
    # this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df


linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')

linear_model_weights

#from the dataframe vis-a-vis the options given in the question, Random_variable_1(rv1) and Windspeed lowest and highest weights respectively.

                            Features  Linear_Model_Weight
0            Humidity_in_living_room            -0.456698
1                Temperature_outside            -0.321860
2         Temperature_in_living_room            -0.236178
3        Temperature_in_parents_room            -0.189941
4        Humidity_in_teenager_room_2            -0.157595
5                   Humidity_outside            -0.077671
6           Humidity_in_ironing_room            -0.044614
7           Humidity_in_parents_room            -0.039800
8            Temperature_in_bathroom            -0.015657
9             Temperature_in_kitchen            -0.003281
10                 Random_variable_1             0.000770
11                 Random_variable_2             0.000770
12                          Pressure             0.006839
13       Temperature_in_ironing_room             0.010319
14                        Visibility             0.012307
15              Humidity_in_bathroom             0.016006
16           Humidity_in_office_room             0.026386
17        Temperature_in_office_room             0.028981
18                         Windspeed             0.029183
19     Humidity_outside_the_building             0.038049
20          Humidity_in_laundry_room             0.096048
21    Temperature_in_teenager_room_2             0.101995
22                       T_dew_point             0.117758
23  Temperature_outside_the_building             0.236425
24       Temperature_in_laundry_room             0.290627
25               Humidity_in_kitchen             0.553547

In [13]:
# Question 18 :  Train a ridge regression model with an alpha value of 0.4

# import the ridge regression model

from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)
ridge_predicted_values = ridge_reg.predict(x_test)
ridge_predicted_values

# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, ridge_predicted_values))
round(rmse, 3)

#From the result, RMSE = 0.088 so there is no change in value when evaluated on the test set

0.088

In [14]:
# Question 19: Train a lasso regression model with an alpha of 0.001 and obtain the new feature weights
# Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')
lasso_weights_df

# From the lasso_weights_df dataframe, only four features have non-zero feature weights

                            Features  Lasso_Weight
0                   Humidity_outside     -0.049557
1        Humidity_in_teenager_room_2     -0.000110
2             Temperature_in_kitchen      0.000000
3                        T_dew_point      0.000000
4                         Visibility      0.000000
5                           Pressure     -0.000000
6                Temperature_outside      0.000000
7           Humidity_in_parents_room     -0.000000
8        Temperature_in_parents_room     -0.000000
9     Temperature_in_teenager_room_2      0.000000
10          Humidity_in_ironing_room     -0.000000
11                 Random_variable_1     -0.000000
12       Temperature_in_ironing_room     -0.000000
13  Temperature_outside_the_building      0.000000
14              Humidity_in_bathroom      0.000000
15           Temperature_in_bathroom     -0.000000
16           Humidity_in_office_room      0.000000
17        Temperature_in_office_room     -0.000000
18          Humidity_in_laundry_room      0.000000
19       Temperature_in_laundry_room      0.000000
20           Humidity_in_living_room     -0.000000
21        Temperature_in_living_room      0.000000
22     Humidity_outside_the_building     -0.000000
23                 Random_variable_2     -0.000000
24                         Windspeed      0.002912
25               Humidity_in_kitchen      0.017880

In [15]:
# Question 20: The new RMSE in 3 d.p with the lasso regression
lasso_predicted_values = lasso_reg.predict(x_test)


# Root Mean Squared Error (RMSE)
rmse = np.sqrt(mean_squared_error(y_test, lasso_predicted_values))
round(rmse, 3)

# New RMSE with the lasso regression is 0.094

0.094